.cocktails-page{
    padding-top: 5rem;
}

.cocktails-list{
    display: flex;
    gap: 1rem;
    margin: 5rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.categories{
    display: flex;
    color: #fff;
}

@media (max-width: 425px){
    .cocktails-page{
        padding-top: 0.1rem;
    }
}