/* .divider1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
  }
  
  
  .divider1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 141px;
    animation: divider1 15s alternate-reverse infinite ease-in-out;
  }
  
  .divider1 .shape-fill {
    fill: rgba(254, 222, 180, 0.089);
  }
  
  .divider2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index:0;
  }
  
  .divider2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 141px;
    transform: translateX(50%);
    animation: divider2 10s alternate-reverse infinite ease-in-out;
  }
  
  .divider2 .shape-fill {
    fill: rgba(255, 242, 225, 0.089);
  }
  
  .divider3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .divider3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 141px;
    transform: translateX(25%);
    animation: divider3 5s alternate-reverse infinite ease-in-out;
  }
  
  .divider3 .shape-fill {
    fill: rgba(255, 242, 225, 0.089);
  }
  
  @keyframes divider1 {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(50%);
    }
  }
  
  @keyframes divider2 {
    0%{
      transform: translateX(50%);
    }
    100%{
      transform: translateX(0);
    }
  }
  
  @keyframes divider3 {
    0%{
      transform: translateX(25%);
    }
    100%{
      transform: translateX(0);
    }
  }
   */